.titulo{
    background-color: black;
    justify-content: center;
    text-align: center;
    display: flex;
    color: white;
    padding: 3%;
}

.mi-vida{
    text-align: center;
    justify-content: center;
    display: flex;
     
}